name: Docker CI Pipeline

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          

      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/app-name:latest .

      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/app-name:latest 
  
  deploy-qa:
    needs: build-and-push
    runs-on: ubuntu-latest
    environment: qa
    steps:
      - name: Deploy to QA
        run: |
          echo "Deploying to QA server"
          # kubectl apply -f k8s/qa/
          # OR docker pull + docker run
  deploy-prod:
    needs: build-and-push

    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Deploy to Production
        run: |
          echo "Deploying to Production server"
          # kubectl apply -f k8s/prod/
   

